main{
    

}


.list-of-nuts{
    
}
img{
    width: 400px;
    height: 300px;
    border: black solid 4px;
    border-radius: 40px;
    margin: 10px;
}
.nut-container{
    border: solid black 4px;
    width: 500px;
    height: 500px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(190, 212, 149);

}
p.price{
    text-align: right;
    margin :10px;
    

} 
h2{
    padding: 20px;


}
.text{
display: flex;
justify-content: center;
}

.description{
   padding: 20px;
  

}